table {

}

td {
  border: 1px solid black;
}

.bigBox {
  border: 3px solid black;
}



td:nth-child(1){
  border-left: none;
}
td:nth-child(3){
  border-right: none;
}
tr:nth-child(1) td {
  border-top: none;
}
tr:nth-child(3) td {
  border-bottom: none;
}
button {
  width: 60px;
  height: 60px;
  background-size: 100% 100%;
  background-color: #FFFFFF;
  border: none;
}

img {
  width: 197px;
  height: 197px;
}
